{% extends 'LandingPagesCoreBundle:admin:layout.html.twig' %}
{% block content %}
    
    <div class="container">

        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="hero-unit">
            <h1>Webspots</h1>
            <p>Sistema de administracion para landing pages de movilaction.com.</p>
        </div>

        <!-- Example row of columns -->
        <div class="row">
            <div class="span4">
                <h2>Chatear en vivo</h2>
                <p>http://chatearenvivo.com</p>
                <p><a class="btn" href="/chatearenvivo/complacelas/" target="_blank">Complacelas &raquo;</a></p>
            </div>
            <div class="span4">
                <h2>Todos ganan</h2>
                <p>http://todosganan.com</p>
                <p><a class="btn" href="/todosganan/gadgets/" target="_blank">Gadgets &raquo;</a></p>
           </div>
           <div class="span4">
                <h2>Nextel</h2>
                <p>http://nextel.movilaction.com</p>
                <p><a class="btn" href="/nextel/hot/" target="_blank">HOT &raquo;</a></p>
           </div>
           <div class="span4">
                <h2>CTG</h2>
                <p>http://www.todosganan.com/</p>
                <p><a class="btn" href="/ctg" target="_blank">Todos Ganan &raquo;</a></p>
            </div>
        </div>
        <hr>
        <footer></footer>

    </div>

{% endblock %}